body {
    margin: 0;
    padding: 0;
    justify-content: center;
  }  

  .createNotifTitle {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #005588;
  }
  .title {
    color: #005588; 
    font-size: x-large;
 }
  
 .createNotificationContainer label {
    margin-bottom: 5px; /* Add spacing above the label */
  }
  .createNotificationContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%; /* Set width to 100% to take the full width of the page */
  }
  
  .createNotificationContainer input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}
  
  .createNotificationContainer button {
    margin-top: 20px; /* Add spacing above the button */
  }
 .createNotificationContainer .uploader {
    width: 100%; /* Make the file input take full width */
    margin: 10px 0; /* Add spacing to the top and bottom of the file input */
  }
  .dropdown-container {
    display: flex;
    gap: 10px;
  }
  
  .dropdown-label {
    display: flex;
    flex-direction: column;
  }
  
  .dropdown {
    margin-top: 5px; /* Adjust as needed */
  }

  .createNotifButton {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #005588;
    border-color: #FFB238;
  }

  .backButton {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #005588;
    border-color: #FFB238;
  }
  

  /* File may not be necessary, as MUI's sx prop allows for dynamic styling of components. 
  Helps to adjust the buttons more 'easily' I suppose. */