.container{
    height: 100vh;
    width: 100vw;
}
.myPIICon {
    width: 200px;
    height: 200px;
    border: 2px solid #3498db; /* Change the color to your preferred border color */
    /* border-radius: 50%; Optional: for a circular border on a square icon */
    
    }
/* "Sign In" */
.AuthTitle {
    font-size: 70px;
    color: #005588;
}

.EmailTextfield {
    border: 2px solid #3498db;
    border-radius: 6px;
    padding: 10px;
    font-size: 16px;

}

.PasswordTextField {
    border: 2px solid #3498db;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
}

.center {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    flex-direction: column;
    width: 325px; /* Adjust width as needed */
    margin: 0 auto; /* Centers the element horizontally */
}

.ForgotPassLink {
    color: #005588;
}