.ForgotPassword {
  display: flex;
  height: 80vh;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  color: #FFB238;
}

.customTextField {
  margin: 10px 0;
}

.customTextField input {
  width: 100%;
  padding: 12px;
  border: 2px solid #FFB238;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  transition: border-color 0.3s ease-in-out;
}

.customTextField input:focus {
  border-color: #e69c00;
}

.customButton {
  margin-top: 20px;
  background-color: #FFB238;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.customButton:hover {
  background-color: #e69c00;
}
