.container {
    height: 100vh;
    width: 100vw;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center horizontally /
  justify-content: center; / Center vertically /
  height: 100vh; / Ensure it takes the full viewport height */
}

.dashTitle {
    text-align: 'center';

}
.buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}

/* .dashSelection {
    margin-bottom: 2rem;
} */
.EditNotificationButton{
    background-color: #005588;
    color:white;
    margin-left: 5%;

}
.EditEventButton{
    background-color: #005588;
    color:white;
    margin-right: 5%;
}
.EditPOIButton{
    background-color: #005588;
    color:white;
    margin-right: 5%;
    margin-left: 5%;
}
.SignOutButton{
    background-color: #005588;
    color:white;
    margin-top: 10%;
}