.body {
    margin: 0;
    padding: 0;
    justify-content: center;
  }

.new-event-title {
    color: #005588; 
    font-size: xx-large;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1%;
 }
  
 .newEventContainer {
 width: 95vw;
 display: flex;
 justify-content: center;
 gap: 8%;
 }

.slider-and-uploader {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.uploader{
margin-top: 20%;
}

.input-fields {
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-fields2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image-slider {
 width: 250px;
 height: 250px;
 margin: auto;
 text-align: center;
}

  
.image-slider:hover::after {
  content: "Click to Replace/Delete";
  top: 29%;
  left: 19%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  pointer-events: none; /* Ensures the hover effect does not interfere with clicking */
  margin-top: 4%;
  }

  .input-field{
    width: 95%;
  }

.date-picker{
  display: flex;
  flex-direction: row;
  gap: 10%;
  margin: auto;
}

.time-container{
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  margin: auto;
  width: 100%;
  margin: auto;
}

.buttons{
display: flex;
flex-direction: row;
margin: auto;
gap: 20px;
}

.date-field{
  display: flex;
  margin: auto;
  width: 75%;
}