body {
    margin: 0;
    padding: 0;
    justify-content: center;
  }  
  .deleteTitle {
    color: #8FA063; 
    font-size: x-large;
    display: flex;
    justify-content: center;
 }
/* Add these styles to adjust the spacing */
/* Adjust these styles */
.dropdown-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.dropdown-toggle {
  background-color: #eee;
  cursor: pointer;
  width: 175px;
}

.dropdown-wrapper {
  position: relative;
  left: 0;
  width: 175px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 150px;
  overflow-y: auto;
  z-index: 1000;
}

.dropdown-item {
  padding: 12px;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

.dropdown-item:last-child {
  border-bottom: none;
}

.dropdown-toggle {
  margin-bottom: 20px;
  border-radius: 0px;
  color: #134C77;
}

.submit {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
