body {
  margin: 0;
  padding: 0;
  justify-content: center;
}  
.editEventTitle {
  color: #8FA063; 
  font-size: x-large;
  display: flex;
  justify-content: center;
}
/* Add these styles to adjust the spacing */
.dropdown-container {
display: flex;
align-items: center;
flex-direction: column;
}

.dropdown-toggle {
  /* padding: 10px; */
  background-color: #eee;
  cursor: pointer;
  width: 175px;
}

.dropdown-wrapper {
  position: relative;
  /* left: 0; */
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 300px;
  overflow-y: auto;
  z-index: 1000;
}

.dropdown-item {
  padding: 12px;
  border-bottom: 1px solid #ccc;
  width: 100%;
/* Adjust as needed */

}
.dropdown-item:hover{
  background-color: #f1f1f1; /* Change the background color on hover */

}


.dropdown-item:last-child {
  border-bottom: none;
}

/* Add margin-bottom to the dropdown-toggle */
.dropdown-toggle {
  margin-bottom: 0; /* Adjust as needed */
  border-radius: 0px;
  color: #134C77;  
}

.dropdown-container input {
  margin: 10px 0; /* Add spacing to the top and bottom of each input field */
}

.image-slider {
  width: 250px;
  height: 250px;
  margin: auto;
  text-align: center;
}
.image-slider .slick-dots {
  bottom: -30px;
}

.image-slider:hover::after {
  content: "Click to Replace";
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  pointer-events: none; /* Ensures the hover effect does not interfere with clicking */
}