body {
  margin: 0;
  padding: 0;
  justify-content: center;
}  
.editEventTitle {
  color: #005588; 
  display: flex;
  justify-content: center;
  font-size: xx-large;
  margin-bottom: 5%;
}
/* Add these styles to adjust the spacing */


.image-slider {
  width: 300px;
  height: 225px;
  /* margin-bottom: 0; */
  text-align: center;
  border: 5px solid #333;
  border-radius: 8px;
}
.image-slider .slick-dots {
  bottom: -30px;
}

.image-slider:hover::after {
  content: "Click to Replace/Delete";
  position: absolute;
  top: 29%;
  left: 19%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  pointer-events: none; /* Ensures the hover effect does not interfere with clicking */
  margin-top: 4%;
}

.edit-event-container{
  width: 95vw;
  display: flex;
  justify-content: center;
  gap: 8%;

}

.input-fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.input-fields2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.date-picker{
  
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.time-picker{
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.buttons{
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 10%;
  width: 15%;
}

.extra-info{

width: 100%;
display: flex;
flex-direction: column;
gap: 20px;


}

/* .slider-and-uploader{
  display: flex;
  flex-direction: column;
} */
.date-field{
display: flex;
margin: auto;
width: 50%;
}

.editEventSubmit {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  background-color: #005588;
  font-weight: bold;
}