.AuthTitle{
    font-size: 70px;
    color: darkblue;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    margin-bottom:  16;
}
.EmailTextfield{
   width: 100px;
   margin-bottom: 50px;

}
.center {
    display: flex;
    height: 80vh;
    text-align: center;
    flex-direction: column;
    margin-left: 500px;
}
  
  
