.eventsEdit {
    display: flex;
    width: 100%;
  }
  
  .eventsEdit > * {
    flex: 2; /* Each component takes an equal portion of the available space */
    margin: 50px; /* Optional: Add some margin between components */
  }
  .DashButton{
    display: flex;
  }