.DashButton{
    display: flex;
  }
  .poiEdit {
    display: flex;
    width: 100%;
  }
  
  .poiEdit > * {
    flex: 2; /* Each component takes an equal portion of the available space */
    margin: 50px; /* Optional: Add some margin between components */
  }
