/* EditPOIStyle.css */
.editPOIContainer .actionButton {
  max-width: 200px;
  width: 100%; /* This makes the button expand to the max-width */
  margin: 10px auto; /* Centering the button and adding vertical margin */
}

.editPOIContainer .formControl {
  max-width: 200px;
  margin: auto;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Adjust this value as needed to space out buttons */
  align-items: center;
}
