.poi-card{

  background-color: #f5f5f5;
  min-height: 590px;
  max-height: 590px;
  
}

.poi-table{  
  min-width: 821px;
  max-width: 821px;
}
.poi-table-cell{

text-align: center;
align-content: center;

}
.poi-row{

text-align: center;
align-items: center;
margin-top: 300px;
background-color: #f5f5f5;
}